.navbar { 
    background-color: rgb(231, 179, 255);
    
}

.footer ul {
    list-style: none;
    
}


.footer {
    background-color: rgb(231, 179, 255);
}

.hero-image {
    margin: 0;
    background-image: url("../assets/images/hero-image.jpg");
    opacity: 0.6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
