body {
    font-family: 'Gudea', sans-serif;
}


/* ------------------------------------------------------------------------Nav Bar */


.navbar { 
    background-color: rgba(218, 139, 255, 0.9);
    padding: 20px 20px 20px 20px;
}

/* ------------------------------------------------------------------------Welcome Section */


.welcome-container {
    height: 100vh;
    position: relative;
    background: url('../assets/images/hero-image.jpg') no-repeat bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    color: #fff;
}

/* ------------------------------------------------------------------------Footer */

footer {
    background-color: rgb(218, 139, 255);
    color: #fff;
    font-size: 25px;
    position: absolute;
}

.footer-info {
    padding: 15px 20px 0px 20px;
}

footer h5 {
    font-size: 25px;
}

footer .ul {
    list-style: none;
}

footer a {
    color: #fff;
}

.social-links {
    text-align: right;
}

@media only screen and (max-width: 575px) {
  .social-links {
      text-align: center;
  }
  .footer-title {
      text-align: center;
  }
}