body {
    font-family: 'Gudea', sans-serif;
}


/* ------------------------------------------------------------------------Nav Bar */


.navbar { 
    background-color: rgba(231, 179, 255, 0.9);
    padding: 20px 20px 20px 20px;
}



/* ------------------------------------------------------------------------Footer */

footer {
    background-color: rgb(231, 179, 255);
}


.footer ul {
    list-style: none;
}


/* ------------------------------------------------------------------------Welcome Section */


.welcome-container {
    height: 100vh;
    position: relative;
    background: url('../assets/images/hero-image.jpg') no-repeat bottom right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron {
    background-color: transparent;
    color: #fff;
}